/* stylelint-disable docusaurus/copyright-header */

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  margin: 0 auto;
  max-height: 160px;
  max-width: 60%;
}
